html {
    box-sizing: border-box;
    font-size: 16px;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
}

ol,
ul {
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
}

:root {
    --white-color: teal;
    --black-color: #212121;
    --primary-color: #f4ffcd;
    --secondary-color: #090909;
    /* f4ffcd */
}

.mat-mdc-paginator-icon {
    fill: teal !important;
}

.mdc-text-field--filled:not(.mdc-text-field--disabled) {
    background-color: var(--primary-color);
    border: solid 1px teal;
    border-radius: 10px;
    color: teal;
}

.mdc-text-field:not(.mdc-text-field--disabled) .mdc-floating-label {
    color: teal;
}
.mdc-text-field:not(.mdc-text-field--disabled) .mdc-text-field__input {
    color: teal;
    font-weight: 500;
}
.mdc-text-field .mdc-text-field__input {
    caret-color: teal;
}